@import './normalize.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './spinner.scss';
//@import './browserOptions.scss';
html {
  scroll-behavior: smooth;
}
/* UI */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth md:text-[18px] text-[16px] font-semibold overflow-x-hidden;
  }

  body {
    @apply text-foreground overflow-x-hidden scroll-smooth antialiased   text-goGreen-black bg-white;
  }
}

@layer components {
  .content {
    @apply max-w-[800px];
    & p {
      @apply mb-4 last:mb-0;
    }
  }
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-start {
    @apply flex justify-start items-start;
  }

  .flex-end {
    @apply flex justify-end items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .h1,
  h1.tiptap-heading {
    @apply text-[2.6667rem] lg:text-[4.4444rem] font-black font-Avenir;
    @apply leading-[3.2222rem] lg:leading-[5.3333rem];
  }
  .h2,
  h2.tiptap-heading {
    @apply text-[2.2222rem] lg:text-[3.5556rem] font-[550] font-Avenir;
    @apply leading-[normal];
  }
  .h3,
  h3.tiptap-heading {
    @apply text-[2.6667rem] lg:text-[2.6667rem] font-[550] font-Avenir;
    @apply leading-[normal];
  }
  .h4,
  h4.tiptap-heading {
    @apply text-[1.3333rem] lg:text-[1.7778rem] font-[550] font-Avenir;
    @apply leading-[normal];
  }
  .Accent {
    @apply text-[1.1667rem] font-[900] font-Avenir;
    @apply leading-[1.7222rem];
  }

  .rounded-end-start {
    @apply rounded-tr-[80px] rounded-bl-[80px] lg:rounded-tr-[100px] lg:rounded-bl-[100px];
    &-md {
      @apply rounded-tr-[40px] rounded-bl-[40px] lg:rounded-tr-[80px] lg:rounded-bl-[80px];
    }
    &-sm {
      @apply rounded-tr-[30px] rounded-bl-[30px] lg:rounded-tr-[60px] lg:rounded-bl-[60px];
    }
  }
  .rounded-start-end {
    @apply rounded-tl-[80px] rounded-br-[80px] lg:rounded-tl-[100px] lg:rounded-br-[100px];
    &-md {
      @apply rounded-tl-[40px] rounded-br-[40px] lg:rounded-tl-[80px] lg:rounded-br-[80px];
    }
    &-sm {
      @apply rounded-tl-[30px] rounded-br-[30px] lg:rounded-tl-[60px] lg:rounded-br-[60px];
    }
  }
  .afterLight {
    @apply relative;

    &::after {
      content: '';
      @apply absolute top-0 bottom-0  w-1/4 h-full pointer-events-none;
    }
    &-right::after {
      @apply right-0;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      );
    }

    &-left::after {
      @apply left-0;
      background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      );
    }
  }

  .afterLightGreen {
    @apply relative;

    &::after {
      content: '';
      @apply absolute top-0 bottom-0  w-1/4 h-full pointer-events-none;
    }
    &-right::after {
      @apply right-0;
      background: linear-gradient(
        to right,
        rgba(8, 165, 16, 0) 0%,
        rgba(8, 165, 16, 1) 100%
      );
    }

    &-left::after {
      @apply left-0;
      background: linear-gradient(
        to left,
        rgba(8, 165, 16, 0) 0%,
        rgba(8, 165, 16, 1) 100%
      );
    }
  }

  .grid-cust {
    @apply grid sm:grid-cols-2 lg:grid-cols-3 justify-center gap-11 md:gap-14 xl:gap-28;
  }

  @media (max-width: 768px) {
    .line-clamp-5-mobile {
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
